<nav id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-5" [routerLink]="['/home']">
      <img src="./assets/img/brand/b-logo-with-bg-opacity20_sml.png" style="height: 20%; width: 20%; margin-left: -20%; margin-bottom: -10%;">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
            <a [routerLink]="['/home']">
              <img src="./assets/img/brand/blue.png">
            </a>
          </div>
          <div class="col-6 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">    


        <li class="nav-item">
          <a class="nav-link nav-link-icon" *ngIf="isUserLoggedIn()" (click)="userprofile()" target="_blank"
            data-toggle="tooltip" title="Profile"> 
            <i class="ni ni-circle-08" ></i>
          </a>
        </li>


        <li class="nav-item">
          <a class="nav-link nav-link-icon" *ngIf="isUserLoggedIn()" (click)="logout()" target="_blank"
            data-toggle="tooltip" title="Logout"> 
            <!--Logout icon start-->
       
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="18" height="18" viewBox="0 0 172 172"
              style=" fill:#000000; margin-bottom: 3px;">
              <g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt"
                stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0"
                font-family="none" font-weight="none" font-size="none" text-anchor="none"
                style="mix-blend-mode: normal">
                <path d="M0,172v-172h172v172z" fill="none"></path>
                <g fill="#ffffff">
                  <path
                    d="M85.89922,6.78594c-2.11818,0.03233 -4.10338,1.03856 -5.38172,2.72781l-23.46187,23.46188c-1.79732,1.72562 -2.52133,4.28807 -1.89279,6.69911c0.62854,2.41103 2.5114,4.2939 4.92243,4.92243c2.41103,0.62854 4.97349,-0.09547 6.69911,-1.89279l12.33563,-12.33562v62.51125c-0.03509,2.48118 1.2685,4.78904 3.41161,6.03987c2.1431,1.25083 4.79369,1.25083 6.93679,0c2.1431,-1.25083 3.4467,-3.55869 3.41161,-6.03987v-62.51125l12.33563,12.33562c1.72562,1.79732 4.28807,2.52133 6.69911,1.89279c2.41103,-0.62854 4.2939,-2.5114 4.92243,-4.92243c0.62854,-2.41103 -0.09547,-4.97349 -1.89279,-6.69911l-23.48875,-23.48875c-1.32111,-1.72795 -3.38147,-2.72948 -5.55641,-2.70094zM38.0886,25.06766c-1.78785,-0.04481 -3.5229,0.60824 -4.8375,1.82078c-16.15534,14.46904 -26.37109,35.52158 -26.37109,58.89656c0,43.61533 35.50467,79.12 79.12,79.12c43.61533,0 79.12,-35.50467 79.12,-79.12c0,-23.3781 -10.21499,-44.43061 -26.3711,-58.89656c-1.82674,-1.67192 -4.41099,-2.23326 -6.76672,-1.46985c-2.35573,0.76341 -4.11954,2.73381 -4.61842,5.15938c-0.49888,2.42557 0.34411,4.93213 2.20734,6.56328c13.37286,11.97388 21.7889,29.26265 21.7889,48.64375c0,36.17891 -29.18109,65.36 -65.36,65.36c-36.17891,0 -65.36,-29.18109 -65.36,-65.36c0,-19.37733 8.41529,-36.67279 21.7889,-48.65047c2.13907,-1.86314 2.9155,-4.84806 1.95539,-7.51735c-0.96011,-2.66929 -3.45995,-4.47578 -6.2957,-4.54953z">
                  </path>
                </g>
              </g>
            </svg> <!--Logout icon end-->
     
            <span class="nav-link-inner--text d-lg-none">Logout</span>
          </a>
        </li>
     



      </ul>
    </div>
  </div>
</nav>