<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class="card-profile-image">
                <a href="javascript:void(0)">
                  <img src="./assets/img/theme/profile_picture.png" class="rounded-circle">
                </a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-3 text-lg-right align-self-lg-center">
              <div class="card-profile-actions py-4 mt-lg-0">
                <a href="javascript:void(0)" class="btn btn-sm btn-info mr-4" (click)="editProfile()">Edit</a>
                <a href="javascript:void(0)" class="btn btn-sm btn-default float-right" (click)="newPassword()">New password</a>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">{{user.events.length}}</span>
                  <span class="description">Events</span>
                </div>
                <div>
                  <span class="heading"></span>
                  <span class="description"></span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center mt-5">
            <div *ngIf="!isNewPasswordEdit">
            <h3>Email:
              <span class="font-weight-light" contenteditable="false" id="email">{{user.email}}</span>
            </h3>
            <h3>Fullname:
              <span class="font-weight-light" contenteditable="false" id="fullName">{{user.fullName}}</span>
            </h3>

            <a class="btn btn-sm btn-info mr-4" *ngIf="isDetailsEdit" (click)="saveDetails()">Save</a>
            </div>

            <div *ngIf="isNewPasswordEdit">
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
              </div>
              <input class="form-control" (keyup)="passwordCheck($event)" placeholder="Password" type="password" id="password" (focus)="focus1=true" (blur)="focus1=false">
            </div>
            <div class="input-group input-group-alternative">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
              </div>
              <input class="form-control" (keyup)="passwordCheck($event)" placeholder="Confirm password" id="confirmPassword" type="password" (focus)="focus1=true" (blur)="focus1=false">
            </div>
            <div class="text-muted font-italic">
              <small>
                <span class="text-danger font-weight-700" *ngIf="!isPasswordsSame" style="margin-top: 5px; padding-bottom: 5px;">Passwords do not match!</span>
              </small>
            </div>
            <div class="row justify-content-center">
            <a class="btn btn-sm btn-default float-right" style="margin-top: 5px;" (click)="savePassword()">Save password</a>
          </div>
        </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
