
#nextStep{
  position: absolute;
  top: 170px;
  right: 19%;
  font-size: 10px;
}
.progress-wrapper{
  padding-left: 18.4%;
  padding-right: 19%;
}


.card{
  margin-left: 18.4%;
  margin-right: 19%;
}

#plusColumn{
  margin-right: -92%;
  margin-top: -4px;
}
#deleteLineBtn{
  padding-left: 5px;
}
.content{
  margin-top: 4%;
}
#logo
{position: absolute;
  top: 158px;
  left: 18.4%;}