#nextStep{
    position: absolute;
    top: 170px;
    right: 300px;
    font-size: 10px;
  }
  .progress-wrapper{
    padding-left: 18.4%;
    padding-right: 19%;
  }

#beaconNameList{
    font-size: 20px;
    margin-left: 5px;
}
#floormap{
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 100px;
}
.col-md-6{
    margin-bottom: 5px;
}
.card{
    margin-top: 20px;
    margin-left: 2px;
}
.content{
    margin-top: 4%;
  }
  #logo
{position: absolute;
  top: 158px;
  left: 285px;}