<main>
    <div class="position-relative">
      <!-- Hero for FREE version -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
  
        <div class="content">

          <img *ngIf="logoURL == null" class="avatar rounded-circle mr-3" id="logo" src="assets/img/theme/logo-placeholder.png">
          <img *ngIf="logoURL != null" class="avatar rounded-circle mr-3" id="logo" [src]="logoURL">
  
        <!--Task bar-->
        <div class="progress-wrapper">
          <div class="progress-info">
            <div class="progress-label">
              <span></span>
            </div>
            <div class="progress-percentage">
              <span>0%</span>
            </div>
          </div>
          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0"
              aria-valuemax="100" style="width: 0%;"></div>
          </div>
        </div>
  
  
  
        <form [formGroup]="eventForm" (ngSubmit)="updateEvent()">
  
  
  
          <div class="container">
            <div class="row">
              <div class="col-sm">
  
                <input type="text" class="form-control form-control-alternative formElements" id="name" formControlName="name"
                  placeholder="Event name">
                <input type="text" class="form-control form-control-alternative formElements" id="place" formControlName="place"
                  placeholder="Place">

                  <input type="text" class="form-control form-control-alternative formElements" id="beaconTypes" formControlName="beaconTypes"
                  placeholder="Beacon types">
  
                  <label for="customFile" id="customFileBtn" class="btn btn-warning">Upload map</label>
                  <input type="file" id="customFile"  (change)="onFileChanged($event)" style="visibility:hidden;">
  
              </div>
              <div class="col-sm">
              
                <div>
                  <img [src]="imageSrc" class="floormap" width="300px">
                </div>
  
  
  
              </div>
            </div>
  
          </div>
  
          <button type="submit" id="nextStep" class="btn btn-warning">Next step</button>
        </form>
  
      </div>
  
        <!-- SVG separator -->
        <div class="separator separator-bottom separator-skew zindex-100">
          <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
            xmlns="http://www.w3.org/2000/svg">
            <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
          </svg>
        </div>
      </section>
    </div>
  
  </main>