<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-primary">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>






      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>

  <div *ngIf="isUserLoggedIn()">

    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12">
            <div class="row row-grid">
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                      <i class="ni ni-circle-08"></i>
                    </div>
                    <h6 class="text-primary text-uppercase">Profile</h6>
                    <p class="description mt-3">Update or check <br>your details. 

                    </p>
                    <div>
                      <span class="badge badge-pill badge-primary">profile</span>
                      <span class="badge badge-pill badge-primary">edit</span>
                    </div>
                    <a [routerLink]="['/user-profile']" class="btn btn-primary mt-4">Check it</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                      <i class="ni ni-spaceship"></i>
                    </div>
                    <h6 class="text-success text-uppercase">Create a new event</h6>
                    <p class="description mt-3">You could create your personal events with map, beacons and sheets.</p>
                    <div>
                      <span class="badge badge-pill badge-success">event</span>
                      <span class="badge badge-pill badge-success">beacons</span>
                      <span class="badge badge-pill badge-success">map</span>
                    </div>
                    <a [routerLink]="['/createevent']" class="btn btn-success mt-4">Let's start</a>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="card card-lift--hover shadow border-0">
                  <div class="card-body py-5">
                    <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                      <i class="ni ni-bullet-list-67"></i>
                    </div>
                    <h6 class="text-warning text-uppercase">Your personal events</h6>
                    <p class="description mt-3">You're able to view, edit or delete your events.</p>
                    <div>
                      <span class="badge badge-pill badge-warning">view</span>
                      <span class="badge badge-pill badge-warning">edit</span>
                      <span class="badge badge-pill badge-warning">delete</span>
                    </div>
                    <a [routerLink]="['/listevents']" class="btn btn-warning mt-4">Look into</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>


  <div *ngIf="!isUserLoggedIn()">



    <section class="section section-lg pt-lg-0 mt--200">
      <div class="container">
        <div class="row">


          <div class="col-sm">
            <div class="card card-lift--hover shadow border-0 loggedout">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                  <img src="https://img.icons8.com/material-rounded/24/000000/user.png" />
                </div>
                <h6 class="text-primary text-uppercase">Login</h6>
                <p class="description mt-3">Make, update or delete your events with map and beacons.
                </p>
                <div>
                  <span class="badge badge-pill badge-primary">events</span>
                  <span class="badge badge-pill badge-primary">beacons</span>
                  <span class="badge badge-pill badge-primary">map</span>
                </div>
                <a [routerLink]="['/login']" class="btn btn-primary mt-4">Sign in</a>
              </div>
            </div>
          </div>

          <div class="col-sm">
            <div class="card card-lift--hover shadow border-0 loggedout">
              <div class="card-body py-5">
                <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                  <img src="https://img.icons8.com/material-sharp/24/000000/edit-user-male.png" />
                </div>
                <h6 class="text-warning text-uppercase">Registration</h6>
                <p class="description mt-3">Create your account and your first event with your personal preferences.</p>
                <div>
                  <span class="badge badge-pill badge-warning">start</span>
                  <span class="badge badge-pill badge-warning">info boxes</span>
                  <span class="badge badge-pill badge-warning"></span>
                </div>
                <a [routerLink]="['/register']" class="btn btn-warning mt-4">Sign up</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section>



  </div>



  <!-- <app-sections></app-sections> -->
</main>