<main>
    <div class="position-relative">
      <!-- Hero for FREE version -->
      <section class="section section-lg section-shaped pb-250">
          <div class="shape shape-style-1 shape-default">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
          <div class="content">


            <img *ngIf="logoURL == null" class="avatar rounded-circle mr-3" id="logo" src="assets/img/theme/logo-placeholder.png">
            <img *ngIf="logoURL != null" class="avatar rounded-circle mr-3" id="logo" [src]="logoURL">

           <!--Task bar-->
           <div class="progress-wrapper">
            <div class="progress-info">
                <div class="progress-label">
                    <span></span>
                </div>
                <div class="progress-percentage">
                    <span>80%</span>
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                    aria-valuemax="100" style="width: 80%;"></div>
            </div>
        </div>
  
  
          <div class="card">
           
            <div class="card-body">
             
  
              <div class="container">
                <div class="row">
  
                    <div class="col-sm">
  
                      <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                  <th scope="col" *ngFor="let column of sheet.columns; index as i" contenteditable="true" (blur)="updateColumnName(i,$event)">{{column.name}}</th>
                                </tr>
                            </thead>
                            <tbody>
      
                              <td *ngFor="let column of sheet.columns">
                                <div *ngIf="column.type == 0">
                                <tr contenteditable="true"  *ngFor="let value of column.values" >{{value.value}}</tr>
                              </div>
                 <!--            <div *ngIf="column.type == IMAGE">
                                <tr *ngFor="let value of column.values" >
  

                                  <img for="customFile" *ngIf="value.value != null" id="customFileBtn" [src]="value.value" style="width: 30px; height: 30px;"/>
                                </tr>
                              </div> --> 
                              </td>
                                <tr>
                                  <td >
                                    <img (click)="addValues()" src="https://img.icons8.com/ios/25/000000/add.png" />  
                                    <img src="https://img.icons8.com/ios/25/000000/cancel.png" id="deleteLineBtn" (click)="deleteLine()"/>
                                  </td>       
                              </tr>   
                            </tbody>
                        </table>
                    </div>
  
                      </div>
  
                      <div class="col-sm" id="plusColumn" (click)="addColumn()">
  
  
                        <img src="https://img.icons8.com/ios/25/000000/add.png"/>
  
                      </div>
                      </div>
              </div> 
            
            </div>
        </div>
  
      
              <div><button type="button" id="nextStep" class="btn btn-warning" (click)="finish()">Finish</button></div>
          </div>
  
  
              <!-- SVG separator -->
              <div class="separator separator-bottom separator-skew zindex-100">
                  <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                      xmlns="http://www.w3.org/2000/svg">
                      <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                  </svg>
              </div>
          </section>
      </div>
  </main>