<main>
  <div class="position-relative">
    <!-- Hero for FREE version -->
    <section class="section section-lg section-shaped pb-250" style="padding-top: 10%;">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="card" style="width: 80%;">
        <img class="card-img-top">
        <div class="card-body">
         
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>

                  <th scope="col">Name</th>
                  <th scope="col">COMPLETION</th>
                  <th scope="col" class="tableElements">Edit</th>
                  <th scope="col" class="tableElements">Delete</th>
                </tr>
              </thead>
              <tbody>


                <tr *ngFor="let event of events">
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img *ngIf="event.logoSrc == null" src="assets/img/theme/logo-placeholder.png">
                       <img  *ngIf="event.logoSrc != null" [src]="event.logoSrc">
                      </a>
                      <div class="media-body">
                        <span class="mb-0 text-sm">{{event.name}}</span>
                      </div>
                    </div>
                  </th>
                 
                  <td>
                    <div class="d-flex align-items-center">
                      <span class="mr-2">{{event.completion}}%</span>
                      <div>
                        <div class="progress">
                          <div [class]="event.completionColor" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                            aria-valuemax="100" [style.width.%]="event.completion"></div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="tableElements">
                   <img src="assets/img/icons/edit.png" (click)="updateEvent(event)">
                  </td>
                  <td class="tableElements">
                    <img src="assets/img/icons/delete.png" (click)="deleteEvent(event.id)">
                  </td>


                </tr>




              </tbody>
            </table>
          </div>
        </div>
      </div>



















      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
  </div>
  <!-- <app-sections></app-sections> -->
</main>