<main>
    <div class="position-relative">
        <!-- Hero for FREE version -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="content">

                <img *ngIf="logoURL == null" class="avatar rounded-circle mr-3" id="logo" src="assets/img/theme/logo-placeholder.png">
                <img *ngIf="logoURL != null" class="avatar rounded-circle mr-3" id="logo" [src]="logoURL">

            <!--Task bar-->
            <div class="progress-wrapper">
                <div class="progress-info">
                    <div class="progress-label">
                        <span></span>
                    </div>
                    <div class="progress-percentage">
                        <span>66%</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="66" aria-valuemin="0"
                        aria-valuemax="100" style="width: 66%;"></div>
                </div>
            </div>


            <div class="container">
                <div class="row">

                    <div class="col-sm">

                        <div class="card">
                            <img class="card-img-top">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table align-items-center table-flush">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Name</th>
                                                <th scope="col">Unique id</th>
                                                <th scope="col">Edit</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <tr *ngFor="let beacon of event.beacons">
                                                <td>
                                                    {{beacon.name}}
                                                </td>
                                                <td>
                                                    {{beacon.uniqueId}}
                                                </td>
                                                <td (click)="updateSheet(beacon)" id="add">
                                                    <img  src="assets/img/icons/edit.png" />
                                                </td>

                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm">

                        <img [src]="retrievedImage.src" width="300px" id="floormap">


                    </div>

                </div>
            </div>


            <div id="beaconMarkers">
                <img style="width:25px;position: absolute;display:none"
                    src="https://cdn1.iconfinder.com/data/icons/Map-Markers-Icons-Demo-PNG/128/Map-Marker-Marker-Outside-Chartreuse.png"
                    id="marker" />
            </div>




            <div><button type="button" id="nextStep" class="btn btn-warning" (click)="finish()">Finish</button></div>

            </div>

            <!-- SVG separator -->
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </section>
    </div>
</main>