
 .formElements{
    margin-top: 20px;
  }
  #customFileBtn{
    margin-top: 20px;
    font-size: 15px;
  }
  .floormap{
    margin-top: 20px;
    margin-left: 100px;
  }
  #nextStep{
    position: absolute;
    top: 170px;
    right: 19%;
    font-size: 10px;
  }


.progress-wrapper{
  padding-left: 18.4%;
  padding-right: 19%;
}
.content{
  margin-top: 4%;
}
#logo
{position: absolute;
  top: 158px;
  left: 18.4%;}